.App {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(230, 230, 203);
}
.logo {
  width: 100px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 14.5px;
  font-weight: 600;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-card {
  width: 227px;
  height: 330px;
  padding: 6px;
  margin: 5px;
  border-radius: 20px;
  transition: transform 0.25s ease;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card:hover {
  border-radius: 20px;
  cursor: pointer;
  transform: scale(0.95);
}
.search {
  padding: 10px;
}
.img {
  border-radius: 20px;
  width: 225px;
  height: 150px;
}
.filterOnbtn {
  margin: 5px 0px 0px 10px;
  padding: 6px;
  border: 0.5px solid gray;
  border-radius: 20px;
  background-color: rgb(219, 218, 218);
  cursor: pointer;
}
.filterOffbtn {
  margin: 5px 0px 0px 10px;
  padding: 8px;
  border: 0.5px solid gray;
  border-radius: 20px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 227px;
  height: 380px;
  padding: 6px;
  margin: 5px;
  border-radius: 20px;
  background-color: rgb(249, 243, 241);
}
.loginBtn {
  padding: 10px;
  cursor: pointer;
}
.search-container {
  padding: 10px;
}
.search-input {
  border: 1px solid gray;
  border-radius: 2px;
}
.search-btn {
  margin: 0px 8px;
  padding: 1px 20px;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}
.ratings-line {
  display: flex;
  justify-content: space-between;
  width: 32%;
  flex-wrap: wrap;
}
.info-card {
  padding: 5px;
  border: 2px solid rgb(227, 226, 226);
  border-bottom: 10px solid rgb(227, 226, 226);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 160px;
}
.info-menu {
  margin: 0px 250px;
}
.info-other-menu {
  margin: -25px 0px;
}
ul > li {
  list-style: none;
}
.menu-item {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.menu-item-description {
  font-size: 13px;
}
.menu-item-sections {
  display: flex;
  justify-content: space-between;
}
.menu-item-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-item-btn {
  cursor: pointer;
  width: 120px;
  padding: 10px;
  margin-top: -20px;
  color: green;
  font-weight: bold;
  border: 0.5px;
  border-radius: 10px;
}
.add-item-only-btn {
  cursor: pointer;
  width: 120px;
  padding: 10px;
  color: green;
  font-weight: bold;
  border: 0.5px;
  margin-top: -85px;
  border-radius: 10px;
}
.add-item-btn:hover,
.add-item-only-btn:hover {
  background-color: rgb(210, 209, 209);
}
a {
  text-decoration: none;
  color: rgba(2, 6, 12, 0.75);
}
a:visited {
  text-decoration: none;
  color: rgba(2, 6, 12, 0.75);
}
.title {
  font-size: 16px;
  margin: 10px;
}
.title-rating {
  font-size: 16px;
  margin: 5px;
}
.title-cuisines,
.title-areaName {
  color: rgb(121, 120, 120);
  margin: 10px;
}
